.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

*{ padding: 0; margin: 0; outline: none;}
*, *::before, *::after{ box-sizing: border-box; }
input{outline: 2px solid #d0d0d0; border: none; font: inherit;}
button{font:inherit;}
a{ text-decoration: none; color: inherit; }
ol, ul{ list-style: none; }
*[v-cloak]{display: none;}
@media (min-width: 500px){
    .page{
        height: 100vh;
        overflow: hidden;
        display: flex;
    }
}

.page main{
    flex: 1;
    overflow: auto;
}

.page .exitPreview{
    border: none;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border-radius: 4px;
    background-color: grey;
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 30px;
    left: 30px;
}
.page .exitPreview:hover{
    background-color: white;
    color: black;
}
