.signUp{
    position: fixed;
    background: rgba(0,0,0,0.3);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signUp > .form{
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background: white;
    min-width: 370px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.signUp > .form > h2{
    margin: 50px 0 20px 0;
}
.signUp > .form input{
    padding: 5px 0;
    width: 100%;
}
.signUp > .form >.wrapper{
    min-width: 270px;
}
.signUp > .form >.wrapper .row{
    margin: 20px 0;
}
.signUp > .form >.wrapper button:hover{
    cursor: pointer;
}
.signUp > .form >.wrapper button,
.signUp > .form >.wrapper .loginButton{
    border-radius: 4px;
    width:100%;
    line-height: 36px;
    height: 36px;
    color: white;
    border: 1px solid #AFAFAF;
    background-color: black;
}
.signUp > .form >.wrapper .loginButton{
    background-color: grey;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signUp > .form >.wrapper button:hover,
.signUp > .form >.wrapper .loginButton:hover{
    background-color: white;
    color: black;
}

.signUp > .form svg{
    width: 20px;
    height: 20px;
    color: white;
    position: absolute;
    top: 5px;
    right: -30px;
}